<label for="firstname">
    <f:translate key="tx_papmarketplace_domain_model_utilisateur.firstname" />
</label><br />
<f:form.textfield property="firstname" /><br />
<label for="lastname">
    <f:translate key="tx_papmarketplace_domain_model_utilisateur.lastname" />
</label><br />
<f:form.textfield property="lastname" /><br />
<label for="email">
    <f:translate key="tx_papmarketplace_domain_model_utilisateur.email" />
</label><br />
<f:form.textfield property="email" /><br />
<label for="organisation">
    <f:translate key="tx_papmarketplace_domain_model_utilisateur.organisation" />
</label><br />
<f:form.textfield property="organisation" /><br />
<label for="presentation">
    <f:translate key="tx_papmarketplace_domain_model_utilisateur.presentation" />
</label><br />
<f:form.textarea property="presentation" cols="40" rows="15" /><br />
<label for="paypal">
    <f:translate key="tx_papmarketplace_domain_model_utilisateur.paypal" />
</label><br />
<f:form.textfield property="paypal" /><br />
<label for="photo">
    <f:translate key="tx_papmarketplace_domain_model_utilisateur.photo" />
</label><br />
<f:form.upload property="photo" /><br />