<label for="firstname">
    <f:translate key="tx_papmarketplace_domain_model_utilisateur.firstname" /> <span color="red">*</span>
</label><br />
<f:form.textfield property="firstName" /><br />
<label for="lastname">
    <f:translate key="tx_papmarketplace_domain_model_utilisateur.lastname" /> <span color="red">*</span>
</label><br />
<f:form.textfield property="lastName" /><br />
<label for="email">
    <f:translate key="tx_papmarketplace_domain_model_utilisateur.email" /> <span color="red">*</span>
</label><br />
<f:form.textfield property="email" /><br />
<label for="password">
    <f:translate key="tx_papmarketplace_domain_model_utilisateur.password" /> <span color="red">*</span>
</label>
</label><br />
<f:form.password property="password" /><br />
<label for="organisation">
	<f:translate key="tx_papmarketplace_domain_model_utilisateur.organisation" />
</label><br />
	<f:form.textfield property="organisation" /><br />