<label for="utilisateur">
	<f:translate key="tx_papmarketplace_domain_model_commentaire.utilisateur" />
</label><br />
	<f:form.textfield property="utilisateur" /><br />
<label for="commentaire">
	<f:translate key="tx_papmarketplace_domain_model_commentaire.commentaire" />
</label><br />
	<f:form.textarea property="commentaire" cols="40" rows="15" /><br />
<label for="note">
	<f:translate key="tx_papmarketplace_domain_model_commentaire.note" />
</label><br />
	<f:form.textfield property="note" /><br />