<label for="nom">
	<f:translate key="tx_papmarketplace_domain_model_contenu.nom" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="nom" /><br />
<label for="dateCreation">
	<f:translate key="tx_papmarketplace_domain_model_contenu.date_creation" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="dateCreation"  value="{contenu.dateCreation->f:format.date()}" /><br />
<label for="prix">
	<f:translate key="tx_papmarketplace_domain_model_contenu.prix" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="prix" /><br />