<div class="control-group">
    <label for="nom" class="control-label"><f:translate key="tx_papmarketplace_domain_model_contenu.nom" /></label>
	<div class="controls">
        <f:form.textfield property="nom" required="1" />
    </div>
</div>
<div class="control-group">
    <label for="prix" class="control-label"><f:translate key="tx_papmarketplace_domain_model_contenu.prix" /></label>
    <div class="controls">
        <f:form.textfield property="prix" required="1" />$
    </div>
</div>
<div class="control-group">
    <label for="description" class="control-label"><f:translate key="tx_papmarketplace_domain_model_contenu.description" /></label>
    <div class="controls">
        <f:form.textarea name="description" property="description" />
    </div>
</div>
<div class="control-group">
    <label for="image" class="control-label"><f:translate key="tx_papmarketplace_domain_model_contenu.image" /></label>
    <div class="controls">
        <f:form.upload name="image" />
    </div>
</div>
<div class="control-group">
    <label for="fichier" class="control-label"><f:translate key="tx_papmarketplace_domain_model_contenu.fichiers" /></label>
    <div class="controls">
        <f:form.upload name="fichier" />
    </div>
</div>
