<table class="tx-pap-marketplace" >
	<tr>
		<td>
			<f:translate key="tx_papmarketplace_domain_model_contenu.nom" />
		</td>
		<td>
			{contenu.nom}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_papmarketplace_domain_model_contenu.date_creation" />
		</td>
		<td>
			{contenu.dateCreation -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_papmarketplace_domain_model_contenu.proprietaire" />
		</td>
		<td>
			{contenu.proprietaire}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_papmarketplace_domain_model_contenu.prix" />
		</td>
		<td>
			{contenu.prix}
		</td>
	</tr>
</table>